<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="ExtentReporterNG" />
    </listeners>

    <test name="FibaMobil" enabled="true">
        <parameter name="device" value="test"></parameter>
        <classes>
            <class name="LoginPassed"/>
        </classes>
    </test>

</suite>